{% extends 'base.html' %} {% block custom_css %}
<style>
    @media screen and (max-width: 580px) {
        .image_container {
            flex-direction: column;
        }
        .random_form_image {
            height: 100px;
            width: 65vw;
            margin: auto;
            margin-bottom: 20px;
        }
        .form_content_area {
            margin-left: 0px;
            color: black;
        }
        #submit_quiz {
            margin-left: auto;
            margin-right: auto;
            display: flex;
        }
    }
    
    .container {
        margin: auto;
        background: white;
        padding: 15px 24px;
        width: 75% !important;
    }
    
    .image_container {
        display: flex;
    }
    
    #submit_quiz {
        padding: 5px 20px;
        background: black;
        color: white;
        border: 2px white;
        font-size: 25px;
    }
    
    @media screen and (min-width: 580px) {
        .random_form_image {
            height: 500px;
            width: 500px;
        }
        .form_content_area {
            color: black;
            margin-left: 40px;
        }
    }
</style>

{% endblock custom_css %}

<!-- content content content -->

{% block content %}

<div class="container ">
    <div class="image_container">
        <img src="../static/img/quiz_start.jpg" class='random_form_image' alt="">

        <div class="form_content_area">
            <h1 style="border-bottom: 0px;">Create Your Quiz</h1>
            <hr>

            <!-- <h3>Quiz Id: {{new_quiz_id}}</h3> -->

            <form id='create_quiz_form' class="form_content" action="{% url 'create_quiz' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="quiz_id" value="{{new_quiz_id}}">


                <h5 style="margin-bottom: 0px;margin-top: -10px;">Add Title</h5>
                <input type="text" name="quiz_title" id="quiz_title" style="margin-bottom: 10px;width: -webkit-fill-available;"><br>

                <h5 style="margin-bottom: 0px;">Add Sub-Heading (Optional)</h5>
                <input type="text" name="quiz_sub_heading" style="margin-bottom: 10px;width: -webkit-fill-available;"><br>

                <h5 style="margin-bottom: 0px;">Add a cover image</h5>
                <input type="file" name='cover_img' style="margin-bottom: 10px;width: -webkit-fill-available;"><br>

                <h5 style="margin-bottom: 0px;">No of Questions (can be changed later)</h5>
                <input type="text" name='no_of_ques' id='no_of_ques' style="margin-bottom: 10px;width: -webkit-fill-available;">


                <h5 style="margin-bottom: 0px;">Instructions (optional)</h5>
                <textarea rows="3" type="text" name='instructions' style="margin-bottom: 10px;width: -webkit-fill-available;
                height: 60px;"></textarea>


                <div id="alert_message">
                    <!-- <p style="color: red;">clicked</p> -->

                    <br>

                </div>

            </form>

            <input type="submit" id="submit_quiz" value="Create Quiz">


        </div>
    </div>
</div>

<br><br><br> {% endblock content %} {% block custom_js %}
<!-- <p style="color: red;">clicked</p> -->
<script>
    submit_button = document.getElementById('submit_quiz')
    message_area = document.getElementById('alert_message')
    quiz_title = document.getElementById('quiz_title')
    no_of_ques = document.getElementById('no_of_ques')
    quiz_form = document.getElementById('create_quiz_form')


    submit_button.addEventListener('click', () => {
            if (quiz_title.value != '') {
                // console.log(quiz_title.value)
                if (no_of_ques.value != '') {
                    quiz_form.submit()

                } else {
                    message_area.innerHTML = `<p style="color: red;">Please Enter No of Questions</p>`

                }
            } else {
                message_area.innerHTML = `<p style="color: red;">Please Enter Quiz Title</p>`

            }
        })
        // message_area.innerHTML = `<p style="color: red;">clicked</p>`
</script>




{% endblock custom_js %}