{% extends 'base.html' %} {% block custom_css %}

<style>
    .col {
        height: 326px !important;
    }
    
    .card-head {
        position: absolute;
        bottom: -9px;
        width: 100%;
        left: 0px;
        font-size: 30px !important;
        text-align: left;
        color: black;
        background: #ffffffa1;
        padding: 5px 10px;
    }
</style>

{% endblock custom_css %} {% block content %}


<!-- carousal___carousal_____carousal--------carousal--------carousal-------carousal -->




<!-- carousal___carousal_____carousal--------carousal--------carousal-------carousal -->



<div class="container text-center">

    <h1 class="quizzly heading my-3">Welcome to the quizzly app</h1>


    <!-- <div class="container" style="display: flex;"> -->

    <!-- <div class="card mx-3 my-2" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the 
                    card title and make up the bulk of the card's content.</p>
            </div>
        </div> -->




    <!-- </div> -->




    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom" align='left'>Quizzes</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

            {% for quiz in all_quizzes %}
            <div class="col">
                {% if quiz.cover_img.url is not none %}
                <a href="{% url 'start_quiz' quiz.id %}" class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('{{quiz.cover_img.url}}');background-size: cover;background-position: center;text-decoration:none;border-radius: 20px;">
            {% else %}
                <a href="{% url 'start_quiz' quiz.id %}" class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background:yellow;background-size: cover;background-position: center;text-decoration:none;border-radius: 20px;">
            {% endif %}
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="card-head display-6 lh-1 fw-bold">{{quiz.quiz_title}}</h2>
                        
                    </div>
                </a>
            </div>

            {% endfor %}


        </div>
    </div>




</div>




{% endblock content %}