{% extends 'base.html' %}

{% block custom_css %}{% endblock custom_css %}


{% block content %}

{% for ques in all_questions %}
{{ques.problem}}<br>
<div class="container">
    <h2>Your Quizzes</h2>
    

    <table class="table table-hover" style="color: white;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Score</th>
                <th scope="col"></th>
                <!-- <th scope="col">Action</th> -->
            </tr>
        </thead>
        <tbody>
            {% for quiz in quizzes_by_user %}
            <tr style="color: white;">

                <th scope="row">{{quiz.quiz_id}}</th>
                <td>{{quiz.quiz_title}}</td>
                <td>nothing</td>
                <td><a href="{% url 'view_questions' quiz.quiz_id %}">Edit</a></td> 
                {% comment %}
                <td><a href="/cars/{{enquiry.car_id}}" class="btn btn-outline-dark">View Car</a></td> {% endcomment %}
            </tr>
            {% endfor %}

        </tbody>
    </table>

    
</div>
{% endfor %}



{% endblock content %}



{% block custom_js %}{% endblock custom_js %}